*{
    box-sizing: border-box!important;
    font-family: 'Montserrat',sans-serif;
}
header{
    padding: 10px 10%;
    background-color: #144578;
}
.logo{
    cursor: pointer;
}
body{
    background-color: #144578;
}
li, a, button, footer {
    text-decoration: none;
}
footer{
    background-color: #144578;
}
#login_parameters{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blue_tps{
    color: #144578;
}

.blue_tps_bg{
    background-color: #144578;
}
.nav-item{
    text-align: left;
}
.nav-link{
    color: white;
    font-weight: bold;
}
.navbar-nav .nav-link.active{
    color: white;
}
.navbar-toggler{
    color:transparent;
}
.dropdown-item{
    text-align: center;
    color:#144578;
}
.navbar-nav:hover{
    color:none!important;
}
.navbar-nav .nav-item:hover .nav-link {
    color: goldenrod;
}
.form-check-input:checked{
    background-color: #144578;
    border-color: #144578;;
}
/*Testing features*/
.fas{
    color:#144578;
}
select, option, input::placeholder, input{
    font-size: 16px!important;
    color: #144578!important;
}
.btn{
    /*border-radius: 25px;*/
    background-color: #144578;
    border-color: #144578;
}
.link-secondary{
    color: white!important;
}
.text-secondary{
    color: white!important;
}
.show_underline:hover {
    color: #144578;
    text-decoration: underline;
}
/*More Testing*/
/*Alert Message*/
.alert_bg_msg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*FontAwesome icons Bigger*/
.big_icons{
    font-size:32px;
}
.font_20{
    font-size: 18px;
}
.font_18{
    font-size: 16px;
}
.font_24{
    font-size: 24px!important;
}
.font_14{
    font-size: 20px!important;
    text-shadow: 3px 3px black;
}
.rojo_alert{
    color: red;
}
/*Nav hover colors*/
.nav-link:hover{
    color: goldenrod!important;
}
.nav-link{
    color: white!important;
}


/*Testing*/
.range {
display: flex;
width: 600px;
}

.range__slider {
width: 45%;
}

.range__value {
width: 35%;
margin-left: 45px;
text-align: center;
border-left: #e6e4e4 1px solid;
}

.form-group {
display: flex;
flex-direction: column;
justify-content: center;
}

.form-group label {
text-transform: uppercase;
font-size: .7rem;
color: #144578;
margin-bottom: 5px;
}

.form-group span {
font-size: 2rem;
font-weight: 600;
color: #144578;
}

.range__slider label {
margin-bottom: 10px;
}

.range__slider [type="range"] {
width: 100%;
appearance: none;
-webkit-appearance: none;
height: 13px;
border-radius: 6px;
background: #f1f1f1;
outline: none;
padding: 0;
margin: 0;
}

/* custom thumb */
.range__slider [type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #144578;
border: #144578 5px solid;
cursor: pointer;
-webkit-transition: background .15s ease-in-out;
transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-webkit-slider-thumb:hover {
background: white;
}

.range__slider [type="range"]::-moz-range-thumb {
width: 20px;
height: 20px;
border: 0;
border-radius: 50%;
background: #144578;
border: #144578 5px solid; cursor: pointer;
-webkit-transition: background .15s ease-in-out;
transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-moz-range-thumb:hover {
background: #144578;
}

/* remove border */
input::-moz-focus-inner, input::-moz-focus-outer {
border: 0;
}

/*Tabla Scroll*/
.table-responsive {
    min-height: 400px;
    max-height:800px;
}
/*Testing Sweet alert buttons*/
.swal2-styled.swal2-confirm{
    background-color: #144578!important;
}

.swal-button:focus {
    box-shadow: none;
}
.red_color{
    color: #e71528;
}
