*{
    box-sizing: border-box!important;
    font-family: 'Montserrat',sans-serif;
}
header{
    padding: 10px 10%;
    background-color: #144578;
}
.logo{
    cursor: pointer;
}
body{
    background-color: #144578;
}
li, a, button, footer {
    text-decoration: none;
}
footer{
    background-color: #144578;
}
#login_parameters{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.blue_tps{
    color: #144578;
}

.blue_tps_bg{
    background-color: #144578;
}
.nav-item{
    text-align: left;
}
.nav-link{
    color: white;
    font-weight: bold;
}
.navbar-nav .nav-link.active{
    color: white;
}
.navbar-toggler{
    color:transparent;
}
.dropdown-item{
    text-align: center;
    color:#144578;
}
.navbar-nav:hover{
    color:none!important;
}
.navbar-nav .nav-item:hover .nav-link {
    color: goldenrod;
}
.form-check-input:checked{
    background-color: #144578;
    border-color: #144578;;
}
/*Testing features*/
.fas{
    color:#144578;
}
select, option, input::placeholder, input{
    font-size: 16px!important;
    color: #144578!important;
}
.btn{
    background-color: #144578;
    border-color: #144578;
}
.link-secondary{
    color: white!important;
}
.text-secondary{
    color: white!important;
}
.show_underline:hover {
    color: #144578;
    text-decoration: underline;
}
